<h2>Our farms</h2>

<!-- We use the tablesorter jQuery plugin to manage column sorting -->
<table id="farmTable" class="tablesorter">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Farmer</th>
	    <th>Organic</th>
	    <th>Certifier</th>
	    <th>Latitude</th>
	    <th>Longitude</th>
	    <th>Altitude</th>
	    <th colspan=3 class="{sorter: false}" >Commands</th>
	  </tr>
	</thead>

	<tbody>
		<% @farms.each do |farm| %>
		  <tr>
		    <td><%=h farm.name %></td>
		    <td><% if farm.farmer %>
			        <%=h farm.farmer.name %>
			      <% end %>
			  </td>
		    <td><%=h farm.organic %></td>

		    <!-- We want something a little more friendly for farms that don't have certifiers -->
		    <td><% if farm.organic_certifier %>
			        <%=h farm.organic_certifier.name %>
			      <% else %>
			        Not certified
			      <% end %>
			  </td>
		    <td><%=h farm.latitude %></td>
		    <td><%=h farm.longitude %></td>
		    <td><%=h farm.altitude %></td>
		
		    <!-- Keep the scaffolding commands for now -->
		    <td><%= link_to 'Show', farm %></td>
		    <td><%= link_to 'Edit', edit_farm_path(farm) %></td>
		    <td><%= link_to 'Destroy', farm, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New farm', new_farm_path %>