<h2>New organic_certifier</h2>

<% form_for(@organic_certifier) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'List', organic_certifiers_path %> |
<%= link_to 'Back', :back %>