<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Convivo v0.01 : <%= controller.controller_name %> : <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %> <!-- for tablesorter -->
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "jquery-latest.js" %>
	<%= javascript_include_tag "jquery.tablesorter.js" %> 
	
	<!-- We will use the tablesorter jQuery plugin to manage the index table. -->
	<!-- column seven contains the scaffold commands so don't bother with sorting-->
	<!-- Start with the farm name column sorted -->
	<script type="text/javascript">
    $(document).ready(function(){ 
		  $("#farmTable").tablesorter({ 
			  headers: { 7: {	sorter: false } }, 
        sortList: [[0,0]]
			  }); 
		 });    
  </script>
</head>
<body>
	
	<h1>Convivo</h1>
	<!-- Mock up a menu bar with a simple set of links -->
	<hr>
		<%= link_to_unless_current ("Farmers", {:controller => "farmers", :action => "index"}) -%> |
		<%= link_to_unless_current ("Farms", {:controller => "farms", :action => "index"}) -%> |
		<%= link_to_unless_current ("Organic Certifiers", {:controller => "organic_certifiers", :action => "index"}) -%> |	
		<%= link_to_unless_current ("Washing Stations", {:controller => "washing_stations", :action => "index"}) -%> |	
  <hr>

	<%if flash[:notice] -%>
    <div id="notice"><%= flash[:notice] %></div>
  <% end -%>
	
	<%if flash[:error] -%>
    <div id="notice"><%= flash[:error] %></div>
  <% end -%>

  <!-- main content appears here -->
  <%= yield %>

	<hr>
	<!-- debug aids - showing in heroku production environment for demonstration purposes -->
	<!-- TODO: restore check for Development Environment  before displaying footer -->
		<div id="debug"> 

			Development Environment (farm layout template): <br />
			<a href="#" onclick="Element.toggle('params_debug_info');return false">params</a> | 
			<a href="#" onclick="Element.toggle('session_debug_info');return false">session</a> |
			<a href="#" onclick="Element.toggle('env_debug_info');return false">env</a> | 
			<a href="#" onclick="Element.toggle('request_debug_info');return false">request</a> 
		
			<fieldset id="params_debug_info" class="debug_info" style="display:none"> 
				<legend>params</legend> 
				<%= debug(params) %> 
			</fieldset> 
			<fieldset id="session_debug_info" class="debug_info" style="display:none"> 
				<legend>session</legend> 
				<%= debug(session) %> 
			</fieldset> 
			<fieldset id="env_debug_info" class="debug_info" style="display: none"> 
				<legend>env</legend> 
				<%= debug(request.env) %> 
			</fieldset> 
			<fieldset id="request_debug_info" class="debug_info" style="display: none"> 
				<legend>request</legend> 
				<%= debug(request) %> 
			</fieldset> 
		
		</div> <!-- id="debug" --> 

</body>
</html>
