<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= site_name %> <%= site_version %> : <%= controller.controller_name %> : <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %> <!-- for tablesorter -->
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "jquery-latest.js" %>
	<%= javascript_include_tag "jquery.tablesorter.js" %> 
	
	<!-- We will use the tablesorter jQuery plugin to manage the index table. -->
	<!-- column seven contains the scaffold commands so don't bother with sorting-->
	<!-- Start with the farm name column sorted -->
	<script type="text/javascript">
    $(document).ready(function(){ 
	
      //Hide div w/id extra if checkbox is clear
      // yes this constuction is clunky, but it works while I learn more
      if ($("#farm_organic").is(":checked")) {
	    } else {
		    $("#selector_for_certifier").css("display","none");
		  }
       // Add onclick handler to checkbox w/id checkme
      $("#farm_organic").click(function(){
				if ($("#farm_organic").is(":checked")) {
				  $("#selector_for_certifier").show("fast");
				} else {      
				  $("#selector_for_certifier").hide("fast");
				}
			});
      // add handler for table sorter
		  $("#farmTable").tablesorter({ 
			  headers: { 7: {	sorter: false } }, 
        sortList: [[0,0]]
			  }); 
		 });    
  </script>
</head>
<body>
	
	<h1><%= site_name %></h1>
	<%= render(:partial =>"shared/menu_bar")%>

	<%if flash[:notice] -%>
    <div id="notice"><%= flash[:notice] %></div>
  <% end -%>
	
	<%if flash[:error] -%>
    <div id="notice"><%= flash[:error] %></div>
  <% end -%>

  <!-- main content appears here -->
  <%= yield %>

	<hr>
	<%= render(:partial =>"shared/debug_aids")%>
</body>
</html>
