<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= site_name %> <%= site_version %> : <%= controller.controller_name %> : <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %> <!-- for tablesorter -->
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "jquery-latest.js" %>
	<%= javascript_include_tag "jquery.tablesorter.js" %> 
	
	<!-- We will use the tablesorter jQuery plugin to manage the index table. -->
	<!-- column three contains the scaffold commands so don't bother with sorting-->
	<!-- The farms column doesn't really make sense for sorting, since there are multiple values in each cell
	     that don't get sorted, but the columns sort correctly by the first farm, so leave it for later. -->
	<!-- Start with the certifier name column sorted -->
	<script type="text/javascript">
    $(document).ready(function(){ 
		  $("#organic_certifierTable").tablesorter({ 
			  headers: { 3: {	sorter: false } }, 
        sortList: [[0,0]]
			  }); 
		 });    
  </script>
</head>
<body>
	
	<h1><%= site_name %></h1>
	<%= render(:partial =>"shared/menu_bar")%>

	<%if flash[:notice] -%>
    <div id="notice"><%= flash[:notice] %></div>
  <% end -%>
	
	<%if flash[:error] -%>
    <div id="notice"><%= flash[:error] %></div>
  <% end -%>

  <!-- main content appears here -->
  <%= yield %>

	<hr>
	<%= render(:partial =>"shared/debug_aids")%>
</body>
</html>
